<div class="error">
    <div class="error-code m-b-10 m-t-20">500 <i class="fa fa-warning"></i></div>
      <h3 class="font-bold">Internal Server Error.</h3>

      <div class="error-desc">
          Sorry, but the page you are looking for is not available right now. <br/>
          Try refreshing the page or click the button below to go back to the Homepage.
          <div>
              <a class="login-detail-panel-button btn" href="/">
                      <i class="fa fa-arrow-left"></i>
                    Go back to Homepage
                </a>
        </div>
    </div>
</div>
