<nav class="navbar navbar-asp navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand white" href="/">Asp Jobs</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a class="white" href="#">About Us</a></li>
          <li><a class="white" href="/jobs/insert">Post a Job!</a></li>
      </ul>
    </div>
</nav>
