/*Margins*/
.margin-md{
  margin-top:30px;
}

.bold{
  font-weight: bold;
}

.no-bold{
  font-weight: normal;
}

.thin{
  font-weight: 300 !important;
}


.white{
  color:white!important;
}

.asp-violet{
  background-color: #5B2C92!important;
  text-decoration: none;
}

.badge-radio{
  border-radius: 5px!important;
}

.job{
  padding:10px 5px;
  border-bottom: 1px solid rgba(150,150,150,.2);
}

.view{
  color: #444!important;
}

.job:hover{
  background-color: rgba(91, 44, 146, 0.08);
  /*border-radius: 10px;*/
}

.description{
  color: #666!important;
}

.job-title{
  font-size: 22px;
  color: #532786!important;
}

.light-gray{
  font-size: 14px;
  color: #666;
}

.sub-title{
  font-size: 17px;
  color: black;
  font-weight: 200;
}

.navbar{
  border-radius: 0;
}

.nav > li > a:hover, .nav > li > a:focus{
  background-color: #eee;
  color: black!important;
  text-decoration: underline;
}

.navbar{
  box-shadow: 0px 1px 10px #aaa;
}

.navbar-toggle{
  font-size: 20px;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}
