/*Margins*/
.margin-md{
  margin-top:30px;
}

.bold{
  font-weight: bold;
}

.no-bold{
  font-weight: normal;
}

.thin{
  font-weight: 300 !important;
}


.white{
  color:white!important;
}

.asp-violet{
  background-color: #5B2C92!important;
}

.badge-radio{
  border-radius: 5px!important;
}

.job{
  padding:10px 5px;
  border-bottom: 1px solid rgba(150,150,150,.2);
}

.view{
  color: #444!important;
}

.description{
  color: #666!important;

}

