/*Margins*/
.margin-md{
  margin-top:30px;
}

.bold{
  font-weight: bold;
}

.no-bold{
  font-weight: normal;
}

.thin{
  font-weight: 300 !important;
}


.white{
  color:white!important;
}

.asp-violet{
  background-color: #5B2C92!important;
  text-decoration: none;
}

.badge-radio{
  border-radius: 5px!important;
}

.job{
  padding:10px 5px;
  border-bottom: 1px solid rgba(150,150,150,.2);
}

.view{
  color: #444!important;
}

.job:hover{
  background-color: rgba(91, 44, 146, 0.08);
  /*border-radius: 10px;*/
}

.description{
  color: #666!important;
}

.job-title{
  font-size: 22px;
  color: #532786!important;
}

.light-gray{
  font-size: 14px;
  color: #666;
}

.sub-title{
  font-size: 17px;
  color: black;
  font-weight: 200;
}

.navbar{
  border-radius: 0;
}

.nav > li > a:hover, .nav > li > a:focus{
  background-color: #eee;
  color: black!important;
  text-decoration: underline;
}

.navbar{
  box-shadow: 0px 1px 10px #aaa;
}





.navbar-toggle{
  /*font-size: 20px;*/
  margin-top: 10x!important;
  margin-bottom: 0px!important;
}


.text-center
{
  text-align: center;
}
select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.free {
    text-transform: uppercase;
}
.input-group {
    margin: 20px auto;
    width: 100%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.btn {
    width: 40%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.promise {
    color: #999;
}
